.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.textHolder {
  width: calc(50vw - 2rem);
  max-width: calc(50vw - 2rem);
  min-width: calc(50vw - 2rem);
  text-align: left;
  padding-left: 2rem;
}

.previewHolder {

  width: 50vw;
  max-width: 50vw;
  min-width: 50vw;
  text-align: left;
  line-height: 0.5rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
